<div class="container">
  <!-- 404 Error Text -->
  <div class="text-center">
      <h4 class="text-dark">Không có quyền truy cập</h4> 
      <a href="/">&larr; Trở về Trang chủ</a>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->